.site {
	padding: $size__site-gutter/2;
	margin: 0 auto;
	max-width: $size__site-width;
}

.site-header {
	text-align: center;
}

.content-area {
	margin: 0 auto;
	max-width: $size__site-width;
}

.site-footer {
	text-align: center;
}
