.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.group-blog .byline {
	display: inline;

	&::before {
		display: inline;
		content: ' \00b7';
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

/* Arrange entry header */
.entry-header {
  position: relative;
}

.post-thumbnail img {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.entry-title {
	background: $color__primary;
	color: white;
	padding: 5px 10px;
	position: absolute;
	transform: skew(0,-7deg);
	left: 10px;
}

// For landscape-oriented sites, move entry header info to the left-hand side
@include landscape {
  .entry-header {
    display: inline-block;
    vertical-align: top;
    width: $size__site-sidebar;
  }

  .entry-content {
    display: inline-block;
    padding-left: $size__site-gutter;
    width: calc(99% - #{$size__site-sidebar});
  }
}
