.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.group-blog .byline {
	display: inline;

	&::before {
		display: inline;
		content: ' \00b7';
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
